{
  "include": [
    "src"
  ],
  "exclude": [
    "src/**/*.spec.js"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "require": [
    "babel-register"
  ],
  "cache": true,
  "sourceMap": false,
  "instrument": false
}
